*.pc
/build/vc6/*.rc
/build/*/*.sdf
/build/*/*.suo
/build/*/*.db
/build/*/*.vcxproj.user
/build/*/.vs/
/build/*/tmp/
/build/cmake/CMakeFiles/
/build/CMakeFiles/
/build/cmake/CMakeCache.txt
/build/CMakeCache.txt
/build/cmake/cmake_install.cmake
/build/cmake_install.cmake
/build/Makefile
/build/cmake/cmake_uninstall.cmake
/build/cmake_uninstall.cmake
/build/cmake/Makefile
/build/cmake/lib/
/build/lib/
/auto/registry
/bin
/lib
/tmp
/out
.DS_Store*
